<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='/index.css' />
  <title>limni is λίμνι</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="{{ 'devMode' if global.env == 'dev' }}">
  <header><h1>function literal (v2)</h1></header>

  <main>
    {{ content | safe }}
  </main>

  <footer><p>a work in progress by <a href="https://www.llkats.com">@llkats</a> &copy; 2023</p></footer>

  {# netlify identity #}
  {% if path === "home" %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  {% endif %}
</body>
</html>
