<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='index.css' />
  <title>limni is λίμνι</title>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <header><h1>thoughts of llkats</h1></header>
  <main>
    {% set posts = collections.posts | reverse %}
    {% for post in posts %}
      {% include post.data.layout + ".njk" %}
    {% else %}
      no posts yet
    {% endfor %}
  </main>
  <footer><p>footer goes here &copy; 2022</p></footer>

  {# netlify identity #}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
