<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='index.css' />
  <title>{{ title }}</title>
</head>
<body>
  <header><h1>thoughts of llkats</h1></header> {# TODO: make a partial #}
  <nav>nav goes here</nav> {# TODO: make a partial #}
  <main>
    {% set posts = collections.posts | reverse %}
    {% for post in posts %}
      {{post.data.tags | log}}
      {% if post.data.tags.includes('post') %}
        {% include "post.njk" %}
      {% elif post.data.tags.includes('blog') %}
        {% include "blog.njk" %}
      {% endif %}
    {% else %}
      no posts yet
    {% endfor %}
  </main>
  <footer>footer goes here &copy; 2022</footer> {# TODO: make a partial #}
</body>
</html>
