/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.2;
}

/* Custom styles */
a {
  color: hsl(173, 58%, 34%);
}

body {
  background-color: rgb(42, 157, 143);
  background: linear-gradient(
    130deg,
    rgba(42, 157, 143, 1) 0%,
    rgba(233, 196, 106, 1) 85%,
    rgba(244, 162, 97, 1) 100%
  )
  fixed;
  font-family: 'Noto Sans', sans-serif;
}

header, footer {
  padding: 2rem 0;
  text-align: center;
}

main {
  padding: 0 1em 3em;
}

article {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin: 1em 0;
  padding: 1em;
}

article h2 {
  margin-bottom: 0.5em;
}

article time {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 1em;
}

article p {
  padding-bottom: 1em;
}

article p:last-child {
  padding-bottom: 0;
}

h1 {
  background-color: white;
  padding: 0.25em;
}

time {
  text-align: right;
}

.post p {
  font-size: 1.5rem;
}

.blog {
  padding: 1em;
}

.blog-content {
  margin-bottom: 2em;
}

@media (min-width: 480px) {
  article {
    padding: 1em 2em;
  }

  main {
    margin: 0 auto;
    padding: 1em 0;
    width: 80%;
  }

  .blog {
    padding: 2em;
  }
}

@media (min-width: 768px) {
  main {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 0 3em;
    width: 70%;
  }
}
