/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.2;
}

/* Custom styles */

body {
  font-family: sans-serif;
}

header, footer {
  margin: 2rem 0;
  text-align: center;
}

main {
  padding: 0 3em 3em;
}

article {
  border: 1px solid #ccc;
  margin: 1em 0;
  padding: 2em;
}

article time {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 1em;
}

article p {
  padding-bottom: 1em;
}

article p:last-child {
  padding-bottom: 0;
}

.post p {
  font-size: 1.5rem;
}
