{%- from '../partials/timestamp.njk' import timestamp %}

{%- macro postMarkup(params) -%}
<article class="post">
  <p>{{ params.content | safe}}</p>
  {{ timestamp({ date: page.date, url: params.url }) }}
</article>
{%- endmacro -%}

{% if not helpers.isHomepage(path) %}
  {%- include "../index.njk" %}

  <main>
    {{
      postMarkup({
        title: title,
        content: content,
        url: "/"
      }) | safe
    }}
  </main>
{% else %}
  {{
    postMarkup({
      content: post.data.content,
      title: post.data.title,
      url: post.data.page.url
    }) | safe
  }}
{% endif %}
