{%- macro postMarkup(params) %}
<article class="post">
  <p>{{ params.content | safe}}</p>
  {% include "../partials/timestamp.njk" %}
</article>
{% endmacro %}

{% if not helpers.isHomepage(path) %}
  {% include "../index.njk" %}

  <main>
    {{ postMarkup({title: title, content: content}) | safe }}
  </main>
{% else %}
  {{ postMarkup({title: post.data.title, content: post.data.content}) | safe }}
{% endif %}
