{% set date = post.data.page.date %}
<time datetime="{{ date }}">
  {{ date | formatPostDate }}
  {# TODO: comment back in when the permalink view is formatted correctly #}
  {# <a href={{ post.data.page.url }}>{{ date | formatPostDate }}</a> #}
</time>
